{% extends "base.html" %}

{% load static %}

{% block title %}Craftsman Training Scheme{% endblock %}

{% block content %}
<div class="main">
    <div class="craftsman-training-scheme">
        <h1>Craftsman Training Scheme</h1>
        <p>Our Craftsman Training Scheme offers comprehensive training in various trades to build a skilled workforce.</p>
        <ul>
            <li><a href="#">Course Details</a></li>
            <li><a href="#">Training Centers</a></li>
            <li><a href="#">Certification Process</a></li>
        </ul>
    </div>
</div>
{% endblock %}
