{% extends "base.html" %}

{% load static %}

{% block title %}HPKVN{% endblock %}

{% block content %}
<div class="main">
    <div class="hpkvn">
        <h1>HPKVN Page</h1>
        <p>The HPKVN (Himachal Pradesh Kaushal Vikas Nigam) aims to enhance employability through skill development.</p>
        <ul>
            <li><a href="#">Training Programs</a></li>
            <li><a href="#">Partner Institutions</a></li>
            <li><a href="#">Enrollment Process</a></li>
        </ul>
    </div>
</div>
{% endblock %}
