{% extends "base.html" %}

{% load static %}

{% block title %}IMC{% endblock %}

{% block content %}
<div class="main">
    <div class="imc">
        <h1>IMC Page</h1>
        <p>The IMC (Industry Mentorship Program) connects students with industry leaders for hands-on mentorship.</p>
        <ul>
            <li><a href="#">Program Overview</a></li>
            <li><a href="#">Mentor Profiles</a></li>
            <li><a href="#">Success Stories</a></li>
        </ul>
    </div>
</div>
{% endblock %}
